*{
    padding: 0px;
    margin: 0px;
}

body{
    
    font-family: Roboto Slab;
    font-size: 16px;
}
body p{
      font-family: Roboto;
     font-size: 18px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
